spring:
  datasource:
    url: jdbc:mysql://localhost:3306/eFashion
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: hungsmilecrz99@gmail.com
    password: tspsjsqqiqhwddqn
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  privateKey: Y68oPXSNa/HHkVhcBLLcUnMfxoB1WsIROZtqAnBOuDQ=

fileStorage:
  path: src\test\resources\eFashionFileStorage
